@import url('https://fonts.googleapis.com/css2?family=Caladea&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caladea:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border:0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Caladea', serif;
}

::root{
  --color-light: rgba(212, 218, 210, 1);
  --color-primary-variant:rgba(62, 92, 65, 1);

  --bg-primary: rgba(82, 117, 85, 1);
  --yellow: rgba(227, 226, 176, 1);
  --light-yellow: rgba(249, 248, 212, 1);


  --container-width-lg: 70%; 
  --container-width-md: 70%;
  --container-width-sm: 80%;

  --transition-hover: all 0.5s ease;
}


html{
  scroll-behavior: smooth;
  
}


.container{
  width: var(--container-width-lg);
  margin: 0 auto;
}


.text-light{
  color: var(--color-light);
}


section{
  height: 100vh;
}


a {
  color: var(--color-primary);
  transition: var(--transition);
}a:hover{
  color: var(--color-white);
}


.flex-center-column{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:3%;
  flex-direction: column;
}

img{
  display:block;
  width: 100%;
  object-fit: cover;   
}

@media screen and (max-width: 1024px){
  .container{
      width: var(--container-width-md);
  }


}

@media screen and (max-width: 600px){
  .container{
      width: var(--container-width-sm);
  }
 
}
